modules = ["nodejs-20"]
run = ["npm", "run", "dev"]
[deployment]
run = ["npm", "run", "start"]
deploymentTarget = "autoscale"
build = ["sh", "deploy-build.sh"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 33591
externalPort = 80

[nix]
packages = ["nano", "imagemagick6", "sqlite"]
